body {
  background-color: rgb(235, 245, 245) !important;
}
body::after {
  content: "";
  background: url("../img/bluesky.png");
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 640px !important;
}

.hello-form {
  margin-bottom: 20px;
}

.sub-title {
  font-size: 24px;
}

header a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

.flex-container {
  display: flex;
  padding: 0;
}

.dropdown-menu li:hover .submenu {
  display: block;
}

.submenu {
  display: none;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
ul[id="main-content"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul[id="main-content"] li div {
  width: 640px;
  height: 480px;
  border: 2px solid black;
  background-color: rgb(120, 130, 145);
  margin: 20px 40px;
}

ul[id="main"] li div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul[id="main-content"] li div img:hover {
  transform: scale(1.05);
}
